:root{
    --main-color:#212121;
    --text-color:#757575;
    --buttons-color:#F5F4FA;
    --background-color: #ffffff;
    --background-section: #F5F4FA;
}

body{ font-family:"Roboto",sans-serif;
    background-color: #ffffff;
    color:#434455
}
 

ul{list-style: none;}
.menu
{
    width:1440px;
    height: 72px;
    border-bottom: 1px;
    color: #e7e9fc;
}
.webstudio{
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.studio{
    color: #2E2F42;
   
}

.studio-pointer {
    color: #2e2f42;
        font-family: "Roboto";
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 2%;
}

.studio-pointer:hover,
.studio-pointer:focus {
    color: #404bbf;
}

.portfolio-pointer {
    color: #2e2f42;
        font-family: "Roboto";
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 2%;
}

.portfolio-pointer:hover,
.portfolio-pointer:focus {
    color: #404bbf;
}

.contact-pointer {
    color:#2e2f42;
    font-family:"Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}

.contact-pointer:hover,
.contact-pointer:focus {
    color: #404bbf;}
.header-adress{font-style: normal;
}
.mail{
    color:#434455;
    font-size: 16px;
    line-height:1.5;
    letter-spacing: 0.02em;
}
.mail:hover,
.mail:focus{
    color: #404bbf;
}
.tel{
    color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.tel:hover,
.tel:focus{
    color: #404bbf;
}

.hero{
    width: 1440px;
        height: 600px;
        top: 72px;
        background: #2E2F42;
}
.desigions{
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #ffffff;
}
.push{
background-color: #4D5AE5;
font-family:"Roboto",sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
}
.push:hover,
.push:focus
{background-color:#404BBF;}

.order-service{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    color: #ffffff;
}
.our-benefits{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.benefits{
background-color: #FFFFFF;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.benefit{
    font-family:"Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434445;
}
.benefit-section{
    background-color: #F4F4FD;
}
.our-team{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.team-item{
    width: hug(264px);
    height:hug(380px);
    margin-top:1248px;
    margin-left: 156px;
    border-radius: 0px, 0px, 4px, 4px;
    padding: 0px, 0px, 32px, 0px;
    gap: 32px;}

    .team{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
color: #2e2f42;
    }

.profession{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.frame{
   width: 264px;
   height: 260px;
}
.portfolio{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.products{ 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
.description{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

    .floor{
        background: #2E2F42;
}
.floor-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}